body{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
ul{
    color:inherit;
    list-style-type:none;   
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:black;
    font-size: 2rem;
    border-top: solid;
    border-color: black;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
}
header{
    background:aqua;
    text-align:center;
    font-size: 1.5rem;
    border-bottom: solid;
    border-color: black;
    padding: 3rem;
}
h1{
    font-size: 4rem;
}
.button{
    display: inline-block;
    background-color:cornflowerblue;
    padding: 14px 25px;
    text-align: center;
    border: solid;
    border-color: black;
    border-radius: 13%;
    font-size: 1.3rem;
}

section{
    display: flex;
    flex-direction: column;
}
.cards-list{
    display: flex;
    justify-content: space-evenly;
}

.card{
    background-color: lightgray;
    border: solid;
    border-color: black;
    border-radius: 6%;
}

