body{
    background: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color:black;
    font-size: 2rem;
    border-top: solid;
    border-color: black;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main{
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-top: solid;
    border-bottom: solid;
    border-color: black;
}
header{
    background:aqua;
    text-align: center;
}

section{
}

